Repository twosigma/Cook, pull requests merged in 2018-11, with the labels that each got.

#1009 Updates requests and numpy versions for tests
  integration/requirements.txt
Labels: test

#1011 Allows ssh-checking instead of sudo-checking for multi-user tests
  integration/tests/cook/conftest.py
Labels: test

#1014 Makes test_group_kill_simple more reliable
  integration/tests/cook/reasons.py
  integration/tests/cook/test_basic.py
Labels: flaky-test, test

#1018 Makes test_hostname_equals_job_constraint work with pools
  integration/tests/cook/test_basic.py
  integration/tests/cook/util.py
Labels: flaky-test, test

#1023 Makes memory_limit_exceeded_helper more reliable
  integration/tests/cook/test_basic.py
Labels: flaky-test, test

#1028 Skips cook executor tests when cook executor is not in use
  integration/tests/cook/test_basic.py
Labels: flaky-test, test

#1022 Skips test_balanced_host_constraint_cannot_place when there are no agents to consider
  integration/tests/cook/test_basic.py
Labels: flaky-test, test

#1035 Improve error message when cluster argument is not in config
  cli/cook/cli.py
  cli/cook/version.py
  integration/tests/cook/test_cli.py
Labels: cli
