Repository twosigma/Cook, pull requests merged in 2018-05, with the labels that each got.

#830 Adds debugging info to test_multi_user_usage
  integration/tests/cook/test_multi_user.py
Labels: flaky-test, test

#839 Add debug info to test_list_jobs_by_completion_state_with_jobs_endpoint
  integration/tests/cook/test_basic.py
Labels: flaky-test, test

#829 Adds debugging info to test_instance_stats_success
  integration/tests/cook/mesos.py
  integration/tests/cook/test_basic.py
Labels: flaky-test, test

#841 Fix for flaky mea culpa test
  integration/tests/cook/test_basic.py
Labels: flaky-test

#846 Fixes race in test_list_jobs_by_completion_state_with_jobs_endpoint
  integration/tests/cook/test_basic.py
Labels: flaky-test, test

#845 Defaults tail path to stdout
  cli/cook/subcommands/tail.py
  cli/cook/version.py
  integration/tests/cook/test_cli.py
Labels: cli, enhancement

#844 Adds states and user to 'no jobs found' message
  cli/cook/subcommands/jobs.py
  integration/tests/cook/test_cli.py
Labels: cli, enhancement

#843 Makes test_no_cook_executor_on_subsequent_instances more reliable
  integration/tests/cook/test_basic.py
Labels: flaky-test, test

#850 Uploads Mesos master logs even when container stopped
  travis/upload_logs.sh
Labels: test

#851 Uploads logs when Cook fails to start
  integration/travis/run_integration.sh
Labels: test

#858 Fixes cs show inside Jupyter notebooks
  cli/cook/querying.py
  cli/cook/version.py
  integration/requirements.txt
  integration/tests/cook/test_cli.py
Labels: bug, cli

#859 Makes test_retries_unchanged_conflict more resilient
  integration/tests/cook/test_basic.py
Labels: flaky-test, test

#864 Changes deprecated assertEquals to assertEqual
  integration/tests/cook/test_basic.py
Labels: refactoring, test

#866 Checks for nil timestamps when calculating instance runtime
  scheduler/src/cook/mesos/constraints.clj
  scheduler/test/cook/test/mesos/constraints.clj
Labels: bug

#868 Makes test_list_jobs_by_completion_state more resilient
  integration/tests/cook/test_basic.py
Labels: flaky-test, test

#869 Minor cleanup in impersonation tests
  integration/tests/cook/test_impersonation.py
Labels: refactoring, test

#854 Adds optional waiting to cs tail
  cli/cook/exceptions.py
  cli/cook/mesos.py
  cli/cook/querying.py
  cli/cook/subcommands/tail.py
  cli/cook/version.py
  cli/setup.py
  executor/tests/test_executor.py
  integration/tests/cook/test_cli.py
Labels: cli
