Repository twosigma/Cook, pull requests merged in 2018-08, with the labels that each got.

#930 Removes TTL from agent attributes cache
  integration/tests/cook/cli.py
  integration/tests/cook/test_basic.py
  integration/tests/cook/test_multi_user.py
  integration/tests/cook/util.py
  scheduler/src/cook/components.clj
  scheduler/src/cook/config.clj
  scheduler/src/cook/mesos.clj
  scheduler/src/cook/mesos/rebalancer.clj
  scheduler/src/cook/mesos/scheduler.clj
  scheduler/src/cook/mesos/util.clj
  scheduler/test/cook/test/benchmark.clj
  scheduler/test/cook/test/mesos/rebalancer.clj
  scheduler/test/cook/test/mesos/scheduler.clj
  scheduler/test/cook/test/simulator.clj
  scheduler/test/cook/test/testutil.clj
Labels: bug

#936 Revert "Injects http module dependencies with function call (#879)"
  cli/cook/configuration.py
  cli/cook/http.py
  cli/cook/version.py
Labels: cli

#935 Makes test_preemption not rely on filling an agent
  integration/tests/cook/test_multi_user.py
Labels: flaky-test, test

#934 Un-marks balanced host constraint test as xfail
  integration/tests/cook/test_basic.py
Labels: test

#933 Un-marks test_balanced_host_constraint_cannot_place as xfail
  integration/tests/cook/test_basic.py
Labels: test

#938 Un-marks test_hostname_equals_job_constraint as xfail
  integration/tests/cook/test_basic.py
Labels: test

#937 Un-marks test_unique_host_constraint as xfail
  integration/tests/cook/test_basic.py
Labels: test

#870 Adds per-pool job scheduling
  integration/setup.cfg
  integration/tests/cook/reasons.py
  integration/tests/cook/test_basic.py
  integration/tests/cook/test_master_slave.py
  integration/tests/cook/test_pools.py
  integration/tests/cook/util.py
  integration/travis/run_integration.sh
  integration/travis/scheduler_travis_config.edn
  scheduler/config.edn
  scheduler/datomic/data/seed_pools.clj
  scheduler/minimesosFile
  scheduler/src/cook/components.clj
  scheduler/src/cook/mesos.clj
  scheduler/src/cook/mesos/optimizer.clj
  scheduler/src/cook/mesos/pool.clj
  scheduler/src/cook/mesos/rebalancer.clj
  scheduler/src/cook/mesos/scheduler.clj
  scheduler/src/cook/mesos/schema.clj
  scheduler/src/cook/mesos/unscheduled.clj
  scheduler/src/cook/mesos/util.clj
  scheduler/test/cook/test/mesos/api.clj
  scheduler/test/cook/test/mesos/rebalancer.clj
  scheduler/test/cook/test/mesos/scheduler.clj
  scheduler/test/cook/test/simulator.clj
  scheduler/test/cook/test/testutil.clj
  travis/minimesos
  travis/minimesosFile
Labels: enhancement, pools

#931 Adds exit-code-syncer to handle a high rate of incoming exit-code messages in a graceful manner
  scheduler/docs/configuration.adoc
  scheduler/src/cook/components.clj
  scheduler/src/cook/config.clj
  scheduler/src/cook/mesos.clj
  scheduler/src/cook/mesos/sandbox.clj
  scheduler/src/cook/mesos/scheduler.clj
  scheduler/test/cook/test/mesos/scheduler.clj
  scheduler/test/cook/test/simulator.clj
Labels: refactoring

#944 Corrects README instructions regarding minimesos
  README.md
Labels: documentation

#946 Add docs for extra options in patched Spark for Cook
  spark/README.md
Labels: documentation

#947 Adds more logging to test_unique_host_constraint
  integration/tests/cook/test_basic.py
  integration/tests/cook/util.py
Labels: test
