Repository twosigma/Cook, pull requests merged in 2018-07, with the labels that each got.

#906 Deletes ranker.clj code and tests
  scheduler/src/cook/mesos/ranker.clj
  scheduler/test/cook/test/benchmark.clj
  scheduler/test/cook/test/mesos/ranker.clj
Labels: refactoring

#909 Adds integration test for task preemption
  integration/tests/cook/test_multi_user.py
  integration/tests/cook/util.py
  integration/travis/scheduler_travis_config.edn
  scheduler/config.edn
Labels: test

#910 Makes test_group_kill_simple more reliable
  integration/tests/cook/test_basic.py
Labels: flaky-test, test

#913 Makes test_show_from_jupyter use COOK_CLI_COMMAND
  integration/tests/cook/test_cli.py
Labels: cli, flaky-test, test

#924 moves progress message related code to progress.clj
  scheduler/src/cook/mesos/progress.clj
  scheduler/src/cook/mesos/scheduler.clj
  scheduler/test/cook/test/mesos/progress.clj
  scheduler/test/cook/test/mesos/scheduler.clj
Labels: refactoring

#925 generalizes the sandbox aggregator functions
  scheduler/src/cook/mesos/sandbox.clj
  scheduler/test/cook/test/mesos/sandbox.clj
Labels: refactoring
