Repository twosigma/Cook, pull requests merged in 2018-12, with the labels that each got.

#1046 Removes blessed
  cli/cook/colors.py
  cli/cook/format.py
  cli/cook/progress.py
  cli/cook/querying.py
  cli/cook/subcommands/config.py
  cli/cook/subcommands/jobs.py
  cli/cook/subcommands/kill.py
  cli/cook/subcommands/ls.py
  cli/cook/subcommands/ssh.py
  cli/cook/subcommands/submit.py
  cli/cook/subcommands/usage.py
  cli/cook/terminal.py
  cli/cook/util.py
  integration/tests/cook/test_basic.py
  integration/tests/cook/util.py
Labels: cli

#1052 Makes test_memory_limit_exceeded_cook_script more reliable
  integration/tests/cook/test_basic.py
Labels: flaky-test, test

#1053 Marks test_group_failed_only_change_retries_all_active as xfail
  integration/tests/cook/test_basic.py
Labels: flaky-test, test

#1049 Allows number of hosts to be set with an environment variable
  integration/tests/cook/test_basic.py
  integration/tests/cook/util.py
Labels: flaky-test, test

#1057 Improves memory limit tests
  integration/README.md
  integration/tests/cook/test_basic.py
Labels: flaky-test, test

#1054 Makes group_submit_kill_retry more reliable
  integration/tests/cook/util.py
Labels: flaky-test, test

#1061 fixes typo in `cluser`
  cli/cook/http.py
Labels: bug
