Repository twosigma/Cook, pull requests merged in 2018-06, with the labels that each got.

#865 Adds support for running test jobs with docker
  integration/tests/cook/mesos.py
  integration/tests/cook/test_basic.py
  integration/tests/cook/test_cli.py
  integration/tests/cook/test_impersonation.py
  integration/tests/cook/test_master_slave.py
  integration/tests/cook/test_multi_user.py
  integration/tests/cook/util.py
Labels: test

#879 Injects http module dependencies with function call
  cli/cook/configuration.py
  cli/cook/http.py
Labels: cli

#877 Adds a test authorization function that blocks job kills
  scheduler/src/cook/authorization.clj
  scheduler/test/cook/test/authorization.clj
Labels: test

#882 Adds Slack badge to README
  README.md
Labels: documentation

#880 Makes wait_for_output_url more robust
  integration/tests/cook/util.py
Labels: flaky-test, test

#883 Uploads minimesos agent logs on failures
  travis/upload_logs.sh
Labels: test

#884 Makes test_group_failed_only_change_retries_all_failed more reliable
  integration/tests/cook/test_basic.py
Labels: flaky-test, test

#888 Adds container fields when retrieving a job
  integration/tests/cook/test_basic.py
  integration/tests/cook/util.py
  scheduler/src/cook/mesos/api.clj
Labels: enhancement

#885 Adds travis build with pools turned off
  .travis.yml
  integration/tests/cook/util.py
  integration/travis/run_integration.sh
  scheduler/src/cook/config.clj
  scheduler/src/cook/mesos/pool.clj
  scheduler/test/cook/test/config.clj
Labels: pools, test

#891 use action='version' in --version parser
  cli/cook/cli.py
Labels: bug, cli

#892 Makes test_group_failed_only_change_retries_all_success more reliable
  integration/tests/cook/test_basic.py
Labels: flaky-test, test

#893 Creates issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: documentation

#894 Allows for deriving Mesos host from mesos-master config
  integration/tests/cook/util.py
Labels: test

#895 Uses docker ps --filter 'name=...' to retrieve container id
  integration/tests/cook/test_basic.py
Labels: flaky-test, test

#903 Fixes changelog link in README
  README.md
Labels: documentation
