Repository twosigma/Cook, pull requests merged in 2018-09, with the labels that each got.

#945 Makes test_show_from_jupyter more reliable
  integration/tests/cook/test_cli.py
Labels: flaky-test, test

#956 Fixes quota bug when not using pools
  .travis.yml
  scheduler/src/cook/mesos/scheduler.clj
Labels: bug, pools

#958 Makes test_instance_stats_failed more reliable
  integration/tests/cook/test_basic.py
Labels: flaky-test, test

#963 Makes test_unique_host_constraint more reliable
  integration/tests/cook/reasons.py
  integration/tests/cook/test_basic.py
Labels: flaky-test, test

#959 Asserts that there is at least 1 active pool
  integration/tests/cook/test_multi_user.py
Labels: pools, test

#968 Changes sleep 300 to 600 in test_list_jobs_by_pool
  integration/tests/cook/test_basic.py
Labels: flaky-test, test

#965 Adds logging to test_instance_stats_failed
  integration/tests/cook/test_basic.py
Labels: flaky-test, test

#969 Allows overriding the default test timeout with an environment variable
  integration/tests/cook/util.py
Labels: test

#971 `periodic-seq` overflow bug
  scheduler/project.clj
  scheduler/src/cook/mesos.clj
  scheduler/src/cook/mesos/heartbeat.clj
  scheduler/src/cook/mesos/mesos_mock.clj
  scheduler/src/cook/mesos/monitor.clj
  scheduler/src/cook/mesos/sandbox.clj
  scheduler/src/cook/mesos/util.clj
  scheduler/test/cook/test/mesos/mesos_mock.clj
  scheduler/test/cook/test/mesos/util.clj
Labels: bug

#960 Removes assumption that cook-pool attribute is present
  integration/tests/cook/util.py
Labels: flaky-test, pools, test

#961 Allows for overriding wait interval with environment variable
  integration/tests/cook/util.py
Labels: test
