Repository twosigma/Cook, pull requests merged in 2018-04, with the labels that each got.

#798 Makes test_cat_large_file_no_newlines more debuggable
  integration/tests/cook/test_cli.py
Labels: cli, test

#782 Adds (optional) support for pool param to /usage
  integration/tests/cook/test_basic.py
  integration/tests/cook/util.py
  integration/travis/run_integration.sh
  integration/travis/scheduler_travis_config.edn
  scheduler/bin/run-docker.sh
  scheduler/config.edn
  scheduler/project.clj
  scheduler/src/cook/config.clj
  scheduler/src/cook/mesos/api.clj
  scheduler/src/cook/mesos/pool.clj
  scheduler/src/cook/mesos/schema.clj
  scheduler/src/cook/mesos/util.clj
  scheduler/test-resources/data/seed_pools.clj
  scheduler/test/cook/test/mesos/util.clj
  scheduler/test/cook/test/testutil.clj
Labels: pools

#794 Adds support for submitting jobs with gpus
  cli/cook/subcommands/submit.py
  cli/cook/version.py
  integration/tests/cook/test_cli.py
Labels: cli, enhancement

#805 Makes instance stats tests more reliable
  integration/tests/cook/test_basic.py
  integration/tests/cook/util.py
Labels: flaky-test

#808 Convert pool query to function call
  scheduler/src/cook/mesos/pool.clj
  scheduler/src/cook/mesos/util.clj
Labels: pools

#810 Sets monitor metrics to 0 instead of removing them
  scheduler/src/cook/mesos/monitor.clj
Labels: bug, metrics

#801 Adds support for pool on job submission
  integration/tests/cook/test_basic.py
  integration/tests/cook/util.py
  scheduler/src/cook/mesos/api.clj
  scheduler/src/cook/mesos/pool.clj
  scheduler/test-resources/data/seed_pools.clj
Labels: pools

#806 Provides /usage sub-map with all pools in the default case
  integration/tests/cook/test_basic.py
  integration/tests/cook/test_cli.py
  integration/tests/cook/test_multi_user.py
  scheduler/src/cook/mesos/api.clj
  scheduler/src/cook/mesos/util.clj
  scheduler/test/cook/test/mesos/api.clj
  scheduler/test/cook/test/mesos/util.clj
Labels: pools

#814 Makes test_group_kill_simple more reliable
  integration/tests/cook/test_basic.py
Labels: flaky-test, test

#812 Add pool support to share and quota endpoints
  integration/Dockerfile
  integration/tests/cook/test_basic.py
  integration/tests/cook/util.py
  scheduler/src/cook/mesos/api.clj
  scheduler/src/cook/mesos/monitor.clj
  scheduler/src/cook/mesos/pool.clj
  scheduler/src/cook/mesos/quota.clj
  scheduler/src/cook/mesos/ranker.clj
  scheduler/src/cook/mesos/scheduler.clj
  scheduler/src/cook/mesos/schema.clj
  scheduler/src/cook/mesos/share.clj
  scheduler/src/cook/mesos/unscheduled.clj
  scheduler/test/cook/test/benchmark.clj
  scheduler/test/cook/test/mesos/dru.clj
  scheduler/test/cook/test/mesos/mesos_mock.clj
  scheduler/test/cook/test/mesos/quota.clj
  scheduler/test/cook/test/mesos/rebalancer.clj
  scheduler/test/cook/test/mesos/scheduler.clj
  scheduler/test/cook/test/mesos/share.clj
  scheduler/test/cook/test/mesos/unscheduled.clj
  scheduler/test/cook/test/simulator.clj
Labels: pools

#819 Adds more logging to test_docker_port_mapping
  integration/tests/cook/mesos.py
  integration/tests/cook/test_basic.py
  integration/tests/cook/util.py
Labels: flaky-test, test

#818 Guards against invalid default pool configuration
  integration/tests/cook/test_basic.py
  integration/tests/cook/test_multi_user.py
  integration/tests/cook/util.py
  integration/travis/run_integration.sh
  integration/travis/scheduler_travis_config.edn
  scheduler/bin/run-docker.sh
  scheduler/datomic/data/seed_pools.clj
  scheduler/docker/run-cook.sh
  scheduler/src/cook/components.clj
  scheduler/src/cook/mesos/pool.clj
  scheduler/test/cook/test/mesos/pool.clj
Labels: pools

#822 Adds debugging info to group_submit_retry
  integration/tests/cook/test_basic.py
  integration/tests/cook/util.py
Labels: flaky-test, test

#821 Adds pool to cs submit, show
  cli/cook/subcommands/show.py
  cli/cook/subcommands/submit.py
  cli/cook/version.py
  integration/tests/cook/test_cli.py
Labels: cli, pools

#820 Makes the quota check on submit pool-aware
  integration/tests/cook/test_basic.py
  integration/travis/scheduler_travis_config.edn
  scheduler/config.edn
  scheduler/datomic/data/seed_pools.clj
  scheduler/src/cook/mesos/api.clj
Labels: pools

#825 Corrects function reference (pools -> all_pools)
  integration/tests/cook/test_cli.py
Labels: test

#826 disables parallelism in cook executor unit tests
  executor/setup.cfg
Labels: flaky-test

#823 Adds debugging info to the memory-limit tests
  integration/tests/cook/mesos.py
  integration/tests/cook/test_basic.py
Labels: flaky-test, test

#828 Makes test_ports more reliable
  integration/tests/cook/test_basic.py
Labels: flaky-test, test
