Repository twosigma/Cook, pull requests merged in 2019-11, with the labels that each got.

#1278 Also log in which compute cluster and pool we generate offers for kub…
  scheduler/src/cook/kubernetes/compute_cluster.clj
Labels: internal-green

#1247 Allows adjusting jobs on submission via plugin
  integration/tests/cook/test_basic.py
  integration/tests/cook/util.py
  scheduler/config.edn
  scheduler/docs/configuration.adoc
  scheduler/src/cook/components.clj
  scheduler/src/cook/plugins/adjustment.clj
  scheduler/src/cook/plugins/definitions.clj
  scheduler/src/cook/plugins/demo_plugin.clj
  scheduler/src/cook/rest/api.clj
  scheduler/src/cook/test/testutil.clj
Labels: internal-green, k8s

#1292 Makes test_tail_large_file_no_newlines take less time
  integration/tests/cook/test_cli.py
Labels: cli, internal-green, test

#1294 Increases timeout for `test_max_runtime_exceeded`
  integration/tests/cook/test_basic.py
  integration/tests/cook/util.py
Labels: flaky-test, internal-green, test

#1295 Records test metrics when tests don't complete
  integration/tests/conftest.py
Labels: internal-green, metrics, test

#1297 Add more logging when we join on the mesos driver
  scheduler/src/cook/mesos/mesos_compute_cluster.clj
Labels: internal-green

#1291 Move some handlers from a compute-cluster/kill to compute-cluster/kill-task-if-possible.
  scheduler/src/cook/compute_cluster.clj
  scheduler/src/cook/scheduler/scheduler.clj
Labels: internal-green

#1300 Workaround bug in running with minimesos.
  executor/Dockerfile.build
Labels: internal-green

#1290 Support multiple kubernetes compute clusters
  integration/tests/cook/test_basic.py
  integration/tests/cook/util.py
  scheduler/bin/run-local-kubernetes.sh
  scheduler/config-k8s.edn
  scheduler/src/cook/components.clj
  scheduler/src/cook/compute_cluster.clj
  scheduler/src/cook/kubernetes/compute_cluster.clj
  scheduler/src/cook/mesos.clj
  scheduler/src/cook/mesos/mesos_compute_cluster.clj
  scheduler/src/cook/rest/api.clj
  scheduler/src/cook/tools.clj
  scheduler/test/cook/test/zz_simulator.clj
Labels: internal-green

#1301 Tweaks GKE setup scripts
  scheduler/bin/help-delete-temporary-clusters
  scheduler/bin/help-make-cluster
  scheduler/bin/make-gke-test-cluster
  scheduler/bin/make-gke-test-clusters
  scheduler/bin/run-local-kubernetes.sh
  scheduler/config-k8s.edn
Labels: internal-green, k8s

#1302 Additional file to .dockerignore.
  scheduler/.dockerignore
Labels: internal-green

#1303 Remove long-dead dependency.
  scheduler/project.clj
Labels: internal-green

#1304 Makes `test_rate_limit_while_creating_job` more reliable
  integration/tests/cook/test_multi_user.py
  integration/tests/cook/util.py
Labels: flaky-test, internal-green, test

#1299 Adds `COOK_TEST_DEFAULT_SUBMIT_POOL` env var
  integration/tests/cook/util.py
Labels: internal-green, k8s, pools, test

#1306 Makes three tests more reliable
  integration/tests/cook/test_basic.py
Labels: flaky-test, internal-green, test

#1307 Improves `test_change_retries_deprecated_post`
  integration/tests/cook/test_basic.py
Labels: flaky-test, internal-green, test

#1309 Increases timeout for test_straggler_handling
  integration/tests/cook/test_basic.py
Labels: flaky-test, internal-green, test

#1310 Adds autoscaling to test clusters
  scheduler/bin/help-delete-temporary-clusters
  scheduler/bin/help-make-cluster
Labels: internal-green, k8s

#1311 Fixes key function used in pod watch
  scheduler/src/cook/kubernetes/api.clj
Labels: bug, internal-green, k8s

#1313 Fixes bugs in `util.wait_for_running_instance`
  integration/tests/cook/util.py
Labels: flaky-test, internal-green, test

#1312 Makes `process` log more clear
  scheduler/src/cook/kubernetes/controller.clj
Labels: internal-green, k8s

#1315 Makes tests work in a multi-compute cluster environment
  integration/tests/cook/test_basic.py
  integration/tests/cook/test_multi_user.py
  integration/tests/cook/util.py
Labels: internal-green, k8s, test

#1317 Makes test_max_runtime_exceeded more reliable
  integration/tests/cook/test_basic.py
Labels: flaky-test, internal-green, test

#1316 Asserts that the expected compute cluster type is being used
  integration/tests/cook/test_basic.py
Labels: internal-green, k8s, test

#1320 Makes test_instance_stats_supports_epoch_time_params more reliable
  integration/tests/cook/test_multi_user.py
Labels: flaky-test, internal-green, test

#1319 Makes test_list_jobs_by_pool more reliable
  integration/tests/cook/test_basic.py
Labels: flaky-test, internal-green, test

#1321 Makes several tests more reliable
  integration/tests/cook/test_basic.py
Labels: flaky-test, internal-green, test
